
.spiralContainer .textSpin {
	position:absolute;
	content: "b";
}
@for $var from 0 through 400 {
	.derp#{$var} {
		z-index:90001;
		left: $maxwidth/2;
		top:$maxwidth/2;
		padding-top:#{($var + 45) / 2};
		width: 1em;
		height: 1em;
		text-align:center;
		line-height:160px;
		-webkit-transform: rotate(#{$var*-5}deg);
		 -webkit-transform-origin: top center;
	}
}
	
